%h1 Submit plugin
#new-plugin
  = form_for @plugin do |f|
    %section
      = f.label :repository, "Github repository"
      = f.text_field :repository
    %section
      = link_to "back", plugins_path, class: "back"
      = f.submit "Submit"
