%nav
  - if current_user.present?
    .user
      = image_tag current_user.avatar_url, class: 'avatar'
      = current_user.nickname
      = link_to "Sign out", session_path, method: "delete", class: "sign-out"
    = render toolbox
  - else
    .user
      .name &nbsp;
      = link_to "Sign in", "/auth/github", class: "sign-in"


